# Dependencies
/node_modules
package-lock.json
yarn.lock

# Logs
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Misc
*.log
.DS_Store
Thumbs.db
